@mixin columnlayout-material (
  $material-line-width: 1px,
  $material-readonly-line-width: 0px,
  $material-field-padding: 9px,
  $material-field-border-color: gray,
  $material-font-color: #222,
  $material-focus-color: #33F,
  $material-error-color: #ed473b) {

  .v-textfield {
    background: none;
    border-width: 0px 0px $material-line-width 0px;
    border-radius: 0px;
    box-shadow: none;

    &:focus {
      box-shadow: none;
    }

    &.v-readonly {
      border-width: 0px 0px $material-readonly-line-width 0px;
    }
  }

  .v-datefield {
    .v-datefield-button {
      border-width: 0px;
      right: 0px;
      left: auto;
    }
    .v-textfield {
      padding-left: $material-field-padding;
      padding-right: 44px;
    }
  }

  .v-filterselect {
    .v-filterselect-input {
      border-width: 0px 0px 1px 0px;
      border-radius: 0px;
      background: transparent;
      box-shadow: none;

      &:focus {
        box-shadow: none;
      }
    }
    .v-filterselect-button {
      border-width: 0px;
    }
    &.v-readonly {
      .v-filterselect-input {
        border-width: 0px 0px $material-readonly-line-width 0px;
      }
    }
  }

  .v-textarea {
    border-width: 0px 0px 1px 0px;
    border-radius: 0px;
    background: transparent;
    box-shadow: none;

    &:focus {
      box-shadow: none;
    }

    &.v-readonly {
      border-width: 0px 0px $material-readonly-line-width 0px;
    }
  }

  .v-checkbox {
    input:focus ~ label:before {
      box-shadow: none;
    }
  }

  .v-label {
    line-height: $v-unit-size;
    vertical-align: bottom;
  }

  > .column-panel-content {
    .column-slot {
      > .v-caption.v-required:after {
        color: $material-font-color;
      }

      > .column-tooltip {
        display: block;
        width: 100%;
        font-size: 80%;

        &.mode-desc {
          color: $material-field-border-color;
        }

        &.mode-error {
          color: $material-error-color;
          position: relative;
          overflow: hidden;

          &:before {
            display: block;
            content: "";
            position: absolute;
            top: -2px;
            left: 0px;
            right: 0px;
            height: 2px;
            box-shadow: 0px 0px 3px $material-error-color;
          }
        }

        &.mode-empty {
          color: $material-field-border-color;
        }
      }
      > .column-units {
        position: absolute;
        right: 0px;
        bottom: 0px;
        padding-right: $material-field-padding;
      }

      &.column-focus {
        > .column-tooltip {
          color: $material-font-color;
          position: relative;
          overflow: hidden;

          &:before {
            display: block;
            content: "";
            position: absolute;
            top: -2px;
            left: 0px;
            right: 0px;
            height: 2px;
            box-shadow: 0px 0px 3px $material-focus-color;
          }
        }
      }
    }
  }

  .loading-field {
    opacity: 0.5;
    pointer-events: none;
    position: relative;
    $material-spinner-size: round($v-unit-size * 0.75);

    &:before {
      display: block;
      position: absolute;
      content: "";
      left: 50%;
      top: 50%;
      margin-top: round($material-spinner-size * -.5);
      margin-left: round($material-spinner-size * -.5);
      @include valo-spinner($size: $material-spinner-size);
    }
  }
}

@mixin columnlayout-material-default {
  // material design applied when material style name used
  .column-layout.material {
      $columnlayout-material-focus-color: $v-focus-color !default;
      $columnlayout-material-error-color: $v-error-indicator-color !default;
      $columnlayout-material-font-color: $v-font-color !default;

      @include columnlayout-material(
        $material-font-color: $columnlayout-material-font-color,
        $material-focus-color: $columnlayout-material-focus-color,
        $material-error-color: $columnlayout-material-error-color);
  }
}