@mixin column-layout(
  $cl-spacing-horizontal: 30px,
  $cl-spacing-vertical: 30px,
  $cl-required-color: red,
  $cl-margin-top: 30px,
  $cl-margin-right: 30px,
  $cl-margin-bottom: 30px,
  $cl-margin-left: 30px) {

  box-sizing: border-box;

  &.v-margin-top {
    padding-top: $cl-margin-top;
  }

  &.v-margin-bottom {
    padding-bottom: $cl-margin-bottom;
  }

  &.v-margin-left {
    padding-left: $cl-margin-left;
  }

  &.v-margin-right {
    padding-right: $cl-margin-right;
  }

  > .column-panel-content {
    width: 100%;
    white-space: normal;

    > .column {
      display: inline-block;
      position: relative;
      vertical-align: top;

      &.wrapped {
        margin-top: $cl-spacing-vertical;
      }
    }

    > .v-spacing {
      display: none;
      position: relative;
      width: 0px;
    }

    .column-slot {
      position: relative;
      display: block;

      > .v-caption {
        display: block;
        width: 100%;
      }
      > .v-caption.v-required:after {
        content: "*";
        color: $cl-required-color;
        padding-left: 3px;
      }

      > .slot-placeholder {
        width: 100%;
        height: 1px;
        display: block;
        visibility: hidden;
      }
    }
  }

  &.spacing {
    > .column-panel-content > .v-spacing {
      display: inline-block;
      width: $cl-spacing-horizontal;
    }

    > .column-panel-content > .column > .column-slot {
      margin-top: $cl-spacing-vertical;
    }

    > .column-panel-content > .column > .column-slot:first-child {
      margin-top: 0px;
    }
  }
}

// Default mixin with default values
@mixin columnlayout {
  $v-layout-spacing-horizontal: 30px !default;
  $columnlayout-spacing-horizontal: $v-layout-spacing-horizontal !default;

  $v-layout-spacing-vertical: 30px !default;
  $columnlayout-spacing-vertical: $v-layout-spacing-vertical !default;

  $v-layout-margin-top: 30px !default;
  $columnlayout-margin-top: $v-layout-margin-top !default;

  $v-layout-margin-right: 30px !default;
  $columnlayout-margin-right: $v-layout-margin-right !default;

  $v-layout-margin-bottom: 30px !default;
  $columnlayout-margin-bottom: $v-layout-margin-bottom !default;

  $v-layout-margin-left: 30px !default;
  $columnlayout-margin-left: $v-layout-margin-left !default;

  .column-layout {
    @include column-layout(
      $cl-spacing-horizontal: $columnlayout-spacing-horizontal,
      $cl-spacing-vertical: $columnlayout-spacing-vertical,
      $cl-margin-top: $columnlayout-margin-top,
      $cl-margin-right: $columnlayout-margin-right,
      $cl-margin-bottom: $columnlayout-margin-bottom,
      $cl-margin-left: $columnlayout-margin-left);
  }
}
